.header {
    background-color: rgb(69, 77, 72);
    height: 4rem;
    color: white;
    margin:  0 16px 12px 0;
    padding: 8px 0 20px 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
  