.h1{
    background-color: rgb(201, 126, 126);
    text-align: center;
    font-size: 100px;
    font-weight: 300;
    top: 0;
    left: 0;
    right: 0;
}
.h4{
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    top: 0;
    left: 0;
    right: 0;
    color: blueviolet;
    
}